<div id="ajaxresponse" style="display: none"></div>

<script type="text/x-magento-init">
    {
        ".tocart": {
            "ajaxAddToCart": {
                "url": "<?php echo $this->getBaseUrl() . "ajaxaddtocart/ajaxcart/showpopup" ?>"
            }
        }
    }

</script>