<?php
/**
 * @var CartInfor $block
 */

use Tigren\AjaxAddToCart\Block\Product\CartInfor;

?>
<div id="tg-infor-cart">
    <span> <?= __('There are <a href="/">%1 items</a> in your cart', $block->getTotalQuantity()) ?></span>
    <br>
    <span><?= __('Cart Subtotal: %1', $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(number_format($block->getSubTotalPrice(), 2), true, false)) ?></span>
</div>