<?php
/**
 * Product view template
 *
 * @var View $block
 *
 */

use Magento\Catalog\Block\Product\View; ?>
<div id="tg-popup-success" align="center">
    <div class="tg-message-success"><?= __("SUCCESS")?></div>
    <h3><?= __('You have recently added this product to your Cart') ?></h3>
    <h1><?= $block->getProduct()->getName() ?></h1>
    <?= $block->getChildHtml('product.info.media.image'); ?>
    <?= $block->getChildHtml('cart.infor'); ?>
    <div class="ajaxcart-buttons ajaxsuite-buttons" style="margin-top: 33px;">
        <button type="button" id="ajaxcart_cancel" class="action primary mb-ajaxsuite-close" title="Continue Shopping"
                style="color: rgb(255, 255, 255); background-color: rgb(0, 107, 180); border-color: rgb(0, 107, 180);">
            <span><?= __('Continue Shopping') ?> </span>
        </button>
        <button type="button" id="ajaxcart_checkout" class="action focus primary" title="View Cart"
                onclick="window.location = 'http://tigren.localhost.com/checkout/cart/'"
                style="color: rgb(255, 255, 255); background-color: rgb(0, 107, 180); border-color: rgb(0, 107, 180);">
            <span><?= __('View Cart') ?></span>
        </button>
    </div>
</div>
<script type="text/javascript">
    require(["jquery", 'Magento_Ui/js/modal/modal'], function ($, modal) {
        $('#ajaxcart_cancel').on('click', function () {
            $('#ajaxresponse').hide();
        })
    });
</script>