<?php
/**
 * Product view template
 *
 * @var View $block
 */

use Magento\Catalog\Block\Product\View;
use Magento\Framework\App\ObjectManager;

$objectManager = ObjectManager::getInstance();
$FormKey = $objectManager->get('Magento\Framework\Data\Form\FormKey');

?>
<?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
<?php $_product = $block->getProduct(); ?>
<div id="tg-popup-config-option" class="container">
    <div class="row">
        <div class="col-4">
            <?= $block->getChildHtml('product.info.media.image'); ?>
        </div>
        <div class="col-8">
            <form data-product-sku="<?= $block->escapeHtml($_product->getSku()) ?>"
                  action="<?= /* @NoEscape */
                  $block->getSubmitUrl($_product) ?>" method="post"
                  id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                <input type="hidden" name="product" value="<?= /* @escapeNotVerified */
                $_product->getId() ?>"/>
                <input name="form_key" type="hidden" value="<?= $FormKey->getFormKey() ?>"/>
                <h3><?= $block->getProduct()->getName() ?></h3>
                <?= $block->getChildHtml('tg_swatch_options'); ?>
                <div class="product-options-bottom">
                    <div class="box-tocart">
                        <div class="fieldset">
                            <div class="field qty">
                                <label class="label" for="qty"><span>Qty</span></label>
                                <div class="control">
                                    <input type="number" name="qty" id="qty" maxlength="12" value="1" title="Qty"
                                           class="input-text qty"
                                           data-validate="{&quot;required-number&quot;:true,&quot;validate-item-quantity&quot;:{&quot;minAllowed&quot;:1,&quot;maxAllowed&quot;:10000}}">
                                </div>
                            </div>
                            <div class="actions">
                                <button type="button" title="Cancel" class="action primary" id="ajaxcart_cancel">
                                    <span><?= __('Cancel') ?></span>
                                </button>
                                <button type="submit" title="Add to Cart" class=" action ajax-popup-to-cart primary"
                                        id="tg-product-addtocart-button">
                                    <span><?= __('Add to Cart') ?></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "#tg-product-addtocart-button": {
            "ajaxAddToCart": {
                "url": "<?php echo $this->getBaseUrl() . "ajaxaddtocart/ajaxcart/showpopup" ?>"
             }
        }
    }



</script>
<script type="text/javascript">
    require([
        "jquery",
        'Magento_Ui/js/modal/modal'
    ], function ($, modal) {
        $('#ajaxcart_cancel').on('click', function () {
            $('#ajaxresponse').hide();
        })
    });
</script>
