<?php
/**
 * Product view template
 *
 * @var View $block
 */

use Magento\Catalog\Block\Product\View;
use Magento\Framework\App\ObjectManager;

$objectManager = ObjectManager::getInstance();
$FormKey = $objectManager->get('Magento\Framework\Data\Form\FormKey');
?>
<?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
<?php $_product = $block->getProduct(); ?>
<div id="tg-popup-group-option" class="container">
    <div class="row">
        <div class="col-4">
            <?= $block->getChildHtml('product.info.media.image'); ?>
        </div>
        <div class="col-8">
            <div class="product-add-form">
                <h2><?= $_product->getName() ?></h2>
                <form data-product-sku="<?= $block->escapeHtml($_product->getSku()) ?>"
                      action="<?= /* @NoEscape */
                      $block->getSubmitUrl($_product) ?>" method="post"
                      id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                    <input type="hidden" name="product" value="<?= /* @escapeNotVerified */
                    $_product->getId() ?>"/>
                    <input type="hidden" name="item"
                           value="<?= $block->escapeHtmlAttr($block->getRequest()->getParam('id')) ?>"/>
                    <input name="form_key" type="hidden" value="<?= $FormKey->getFormKey() ?>"/>
                    <?= $block->getChildHtml('form_top') ?>
                    <?= $block->getChildHtml('product.info.grouped') ?>
                    <div class="product-options-bottom">
                        <div class="box-tocart">
                            <div class="fieldset">
                                <div class="actions">
                                    <button type="button" title="Cancel" class="action primary" id="ajaxcart_cancel">
                                        <span><?= __('Cancel') ?></span>
                                    </button>
                                    <button type="submit" title="Add to Cart" class=" action ajax-popup-to-cart primary"
                                            id="tg-product-addtocart-button">
                                        <span><?= __('Add to Cart') ?></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<script>
    require([
        'jquery',
        'priceBox'
    ], function ($) {
        var dataPriceBoxSelector = '[data-role=priceBox]',
            dataProductIdSelector = '[data-product-id=<?= $block->escapeHtml($_product->getId()) ?>]',
            priceBoxes = $(dataPriceBoxSelector + dataProductIdSelector);

        priceBoxes = priceBoxes.filter(function (index, elem) {
            return !$(elem).find('.price-from').length;
        });

        priceBoxes.priceBox({'priceConfig': <?= /* @escapeNotVerified */ $block->getJsonConfig() ?>});
    });
</script>

<script type="text/x-magento-init">
    {
        "#tg-product-addtocart-button": {
            "ajaxAddToCart": {
                  "url": "<?php echo $this->getBaseUrl() . "ajaxaddtocart/ajaxcart/showpopup" ?>"
            }
        }
    }



</script>

<script type="text/javascript">
    require([
        "jquery",
        'Magento_Ui/js/modal/modal'
    ], function ($, modal) {
        $('#ajaxcart_cancel').on('click', function () {
            $('#ajaxresponse').hide();
        })
    });
</script>
