<?php
/**
 * Product view template
 *
 * @var View $block
 *
 */

use Magento\Catalog\Block\Product\View; ?>
<div id="tg-popup-error">
    <p class="tg-error-message"></p>
    <h1><?= $block->getProduct()->getName() ?></h1>
    <?= $block->getChildHtml('product.info.media.image'); ?>
    <div class="ajaxcart-buttons ajaxsuite-buttons" style="margin-top: 33px;">
        <button type="button" id="ajaxcart_cancel" class="action primary mb-ajaxsuite-close" title="Continue Shopping">
            <span><?= __('Continue Shopping') ?> </span>
        </button>
        <button type="button" id="ajaxcart_checkout" class="action focus primary" title="View Cart"
                onclick="window.location = 'http://tigren.localhost.com/checkout/cart/'">
            <span><?= __('View Cart') ?></span>
        </button>
    </div>
</div>
<script type="text/javascript">
    require(["jquery", 'Magento_Ui/js/modal/modal'], function ($, modal) {
        $('#ajaxcart_cancel').on('click', function () {
            $('#ajaxresponse').hide();
        })
    });
</script>