<?php
/**
 * @copyright Copyright (c) 2017 www.tigren.com
 */

?>
<div class="mb-ajaxsuite-popup-wrapper" id="mb-ajaxsuite-popup-wrapper">
    <a id="mb-ajaxsuite-close" class="mb-ajaxsuite-close" title="<?= __('Close') ?>"></a>
    <?php echo $block->getChildHtml('ajaxsuite.popup.popup'); ?>
</div>
<div class="mb-ajaxsuite-blank" id="mb-ajaxsuite-blank"></div>
