#ajaxresponse {
  text-align: center;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.5);
}

#tg-popup-success, #tg-popup-config-option, #tg-popup-bundle-option, #tg-popup-group-option, #tg-popup-downloadable,#tg-popup-error {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 50%;
  padding-bottom: 15px;
  overflow-y: scroll;
  height: 420px;
}

#tg-popup-config-option .col-8 {
  float: right;
  width: 60%;
  padding-top: 10px;
  text-align: left;
}

#tg-popup-config-option .col-4 {
  float: left;
  width: 40%;
}

#tg-popup-bundle-option .col-8 {
  float: right;
  padding: 30px;
  text-align: left;
}

#tg-popup-bundle-option #product-add-form {
  float: right;
  width: 60%;
}

#tg-popup-bundle-option .col-4 {
  float: left;
  width: 40%;
}

#tg-popup-bundle-option .tg_image img {
  padding: 0 35px;
}

#tg-popup-group-option .col-8 {
  float: right;
  text-align: left;

}

#tg-popup-group-option .col-4 {
  float: left;
  width: 40%;
}

#tg-popup-group-option .col-8 {
  width: 51%;
  padding: 28px;
  text-align: left;
}

#tg-popup-group-option .tg_image img {
  margin: 90px 0;
}

#tg-product-addtocart-button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 107, 180);
  border-color: rgb(0, 107, 180);
}

#ajaxcart_cancel {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 107, 180);
  border-color: rgb(0, 107, 180);
}

.tg_image img {
  margin: 32px 0;
}

#ajaxresponse .qty {
  width: 55px;
  text-align: center;
}

.qty .control {
  padding-top: 7px;
}

#tg-popup-downloadable .col-8 {
  float: right;
  width: 50%;
  padding-top: 30px;
  text-align: left;
}

#tg-popup-downloadable .col-4 {
  float: left;
}
.tg-message-success{
  font-size: 25px;
  color: #09deca;
  font-weight: 700;
}

