<?php
/**
 * @author    Tigren Solutions <info@tigren.com>
 * @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved.
 * @license   Open Software License ("OSL") v. 3.0
 */
//$blockObj = $block->getLayout()->createBlock('Tigren\Ajaxwishlist\Block\Main');
//echo $blockObj->getMyCustomMethod();
$_product = $block->getProduct(); ?>
<div class="ajaxwishlist-msg">
    <div class="mb-login-popup-title">
        <strong><?= __('Success'); ?></strong>
    </div>
    <div class="mb-ajaxsuite-popup-border ajaxwishlist-success-box">
        <?= $block->getChildHtml('ajaxwishlist.message'); ?>

        <h2 class="product-name"><?= $_product->getName() ?></h2>
        <?= $block->getChildHtml('product_option'); ?>
        <?= $block->getChildHtml('product_image'); ?>
        <div class="ajaxwishlist-buttons">
            <button type="button" id="ajaxwishlist_btn_close_popup" class="action primary mb-ajaxsuite-close"
                    title="<?= __('Close') ?>">
                <span><?= __('Close ') ?></span>
                <?php
                if ($popupTTL = $this->helper('Tigren\Ajaxsuite\Helper\Data')->getTTLAjaxSuite()) {
                    ?>
                    (<span class="ajaxsuite-autoclose-countdown"><?= $popupTTL ?></span>)
                    <?php
                }
                ?>
            </button>
            <button type="button" id="ajaxwishlist" class="action focus primary"
                    title="<?= __('View Wishlist') ?>"
                    onClick="window.location = '<?= $block->getUrl('wishlist'); ?>'">
                <span><?= __('View Wishlist') ?></span>
            </button>
        </div>
    </div>
</div>