<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  -->

<form class="form-address-edit"
      data-bind="attr: {'data-hasrequired': $t('* Required Fields')}"
      enctype="multipart/form-data">
    <fieldset class="fieldset" id="address-form">
        <div class="label-title" data-bind="i18n: 'Contact Information'"></div>
        <div class="fieldset address">
            <!-- ko foreach: getRegion('address-contact-fieldsets') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="label-title" data-bind="i18n: 'Address Information'"></div>
        <div class="fieldset address">
            <!-- ko foreach: getRegion('address-edit-fieldsets') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
    </fieldset>

    <!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->

    <div class="actions-toolbar" id="edit-form-buttons-container">
        <div class="primary">
            <a class="action back" data-bind="click: backToAddressList" href="#">
                <span translate="'Back'"/>
            </a>
            <button class="button action continue primary" data-bind="click: saveAddress" data-role="save-address"
                    type="submit">
                <span translate="'Save'"/>
            </button>
        </div>
    </div>
</form>