<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  -->

<fieldset data-bind="visible: visible, attr: { class: 'field admin__control-fields required ' + additionalClass }">
    <legend class="label">
        <span data-bind="i18n: $data.label"></span>
    </legend>
    <div class="control">
        <div class="action-multiselect-wrap action-select-wrap action-selection-branch-wrap" data-bind="
                attr: {
                    id: uid
                },
                css: {
                    _active: listVisible,
                    'action-multiselect-tree': isTree()
                },
                event: {
                    focusin: onFocusIn,
                    focusout: onFocusOut,
                    keydown: keydownSwitcher
                },
                outerClick: outerClick.bind($data)
            " tabindex="0">
            <!-- ko ifnot: chipsEnabled -->
            <div class="action-select action-multiselect"
                 data-bind="
                            css: {_active: multiselectFocus},
                            click: function(data, event) {
                                toggleListVisible(data, event)
                            }
                        "
                 data-role="advanced-select">
                <div class="action-multiselect-text"
                     data-bind="text: setCaption()"
                     data-role="selected-option">
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: chipsEnabled -->
            <div class="action-select action-multiselect"
                 data-bind="
                    css: {_active: multiselectFocus},
                    click: function(data, event) {
                        toggleListVisible(data, event)
                    }
                "
                 data-role="advanced-select">
                <div class="action-multiselect-text"
                     data-bind="
                        visible: !hasData(),
                        i18n: selectedPlaceholders.defaultPlaceholder
                    ">
                </div>
                <!-- ko foreach: { data: getSelected(), as: 'option'}  -->
                <span class="action-multiselect-crumb">
                    <span data-bind="text: label"></span>
                </span>
                <!-- /ko -->
            </div>
            <!-- /ko -->
            <div class="action-menu" data-bind="css: { _active: listVisible }">
                <!-- ko if: filterOptions -->
                <div class="action-multiselect-search-wrap">
                    <input class="control-text action-multiselect-search"
                           data-bind="
                                event: {
                                    keydown: filterOptionsKeydown
                                },
                                attr: {id: uid+2},
                                valueUpdate: 'keyup',
                                value: filterInputValue,
                                hasFocus: filterOptionsFocus
                            "
                           data-role="advanced-select-text"
                           type="text">
                    <!--<div if="itemsQuantity"-->
                    <!--data-bind="text: itemsQuantity"-->
                    <!--class="action-multiselect-search-count">-->
                    <!--</div>-->
                </div>
                <!-- /ko -->
                <ul class="action-multiselect-menu-inner _root"
                    data-bind="
                        event: {
                            mousemove: function(data, event){onMousemove($data, $index(), event)}
                        }
                    ">
                    <!-- ko foreach: { data: options, as: 'option'}  -->
                    <li class="action-multiselect-menu-inner-item _root"
                        data-bind="css: { _parent: $data.optgroup }"
                        data-role="option-group">
                        <div class="action-menu-item"
                             data-bind="
                                    css: {
                                        _selected: $parent.isSelected(option.value),
                                        _hover: $parent.isHovered(option, $element),
                                        _expended: $parent.getLevelVisibility($data),
                                        _unclickable: $parent.isLabelDecoration($data),
                                        _last: $parent.addLastElement($data),
                                        '_with-checkbox': $parent.showCheckbox
                                    },
                                    click: function(data, event){
                                        $parent.toggleOptionSelected($data, $index(), event);
                                    },
                                    clickBubble: false
                            ">
                            <!-- ko if: $data.optgroup && $parent.showOpenLevelsActionIcon-->
                            <div class="action-multiselect-dropdown"
                                 data-bind="
                                    click: function(event){
                                        $parent.openChildLevel($data, $element, event);
                                    },
                                    clickBubble: false
                                 ">
                            </div>
                            <!-- /ko-->
                            <label class="action-multiselect-label">
                                <span data-bind="text: option.label"></span>
                            </label>
                        </div>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
        </div>
        <!-- ko if: error() -->
        <div class="field-error" data-bind="attr: { id: errorId }" generated="true">
            <span data-bind="text: error"/>
        </div>
        <!-- /ko -->
    </div>
</fieldset>
