<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  -->

<div class="billing-address-details" data-bind="if: isAddressDetailsVisible() && currentBillingAddress()">
    <address>
        <strong class="name">
            <!-- ko text: currentBillingAddress().prefix --><!-- /ko -->
            <!-- ko text: currentBillingAddress().firstname --><!-- /ko -->
            <!-- ko text: currentBillingAddress().middlename --><!-- /ko -->
            <!-- ko text: currentBillingAddress().lastname --><!-- /ko -->
        </strong>
        <!-- ko text: currentBillingAddress().suffix --><!-- /ko -->
        <!-- ko text: _.values(currentBillingAddress().street).join(", ") --><!-- /ko -->
        <!-- ko if: (currentBillingAddress().customAttributes) -->
        <!-- ko text: currentBillingAddress().customAttributes.subdistrict --><!-- /ko -->,
        <!-- /ko -->
        <!-- ko text: currentBillingAddress().city --><!-- /ko -->,
        <span data-bind="html: currentBillingAddress().region"></span>
        <!-- ko text: currentBillingAddress().postcode --><!-- /ko -->,
        <!-- ko text: getCountryName(currentBillingAddress().countryId) --><!-- /ko -->,
        <!-- ko if: (currentBillingAddress().telephone) -->
        <span data-bind="i18n: 'Tel:'"></span>
        <a data-bind="text: currentBillingAddress().telephone, attr: {'href': 'tel:' + currentBillingAddress().telephone}"></a>
        <!-- /ko -->
    </address>
    <button class="action action-edit-address"
            data-bind="visible: isAddressNotSameAsShipping(), click: editAddress"
            type="button">
        <span data-bind="i18n: 'Edit'"></span>
    </button>
</div>
