<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  -->

<div class="field field-select-billing">
    <div class="control dropdown-custom" data-bind="if: (addressOptions.length > 1)">
        <span aria-expanded="false"
              aria-haspopup="true" data-bind="
                mageInit: {'dropdown':{'activeClass': '_active'}},
                text: selectedAddress() ? selectedAddress().getAddressInline() : 'Select Address',
                attr: {class: selectedAddress() ? 'toggle action' : 'toggle'}
            " data-toggle="billing-address-list-dropdown"
        >
        </span>
        <ul aria-hidden="true" class="billing-address-list dropdown" data-target="billing-address-list-dropdown">
            <!-- ko foreach: { data: addressOptions, as: 'address' } -->
            <li class="billing-address-item"
                data-bind="css: { _active: address == $parent.selectedAddress() }, click: $parent.selectAddress.bind($parent, address)">
                <span data-bind="i18n: address.getAddressInline()"></span>
            </li>
            <!-- /ko -->
        </ul>
    </div>
</div>
