<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  -->

<!-- ko if: (isVisible()) -->
<div class="billing-information">
    <div class="billing-information-content">
        <div class="billing-info-content-title">
            <span data-bind="i18n: 'Billing address'"></span>
        </div>
        <!-- ko foreach: getRegion('billing-detail') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
</div>
<!--/ko-->
