<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  -->

<div class="step-title" data-role="title" translate="'Billing Address'"/>

<div class="checkout-billing-address">
    <!-- ko foreach: getRegion('billing-address-list') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->

    <!-- Inline address form -->
    <render args="billingFormTemplate" if="isFormInline"/>
</div>

<!-- Address form pop up -->
<if args="!isFormInline">
    <button class="action action-show-popup"
            click="showFormPopUp"
            type="button"
            visible="!isNewAddressAdded()">
        <span translate="'New Address'"/>
    </button>
    <div id="opc-new-billing-address"
         render="billingFormTemplate"
         visible="isFormPopUpVisible()"/>
</if>
