<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  -->

<div class="checkout-billing-address">
    <div class="step-title" data-bind="i18n: 'Billing Address'" data-role="title"></div>
    <div class="billing-address-same-as-shipping-block field choice" data-bind="visible: canUseShippingAddress()">
        <input data-bind="checked: isAddressNotSameAsShipping, click: useShippingAddress, attr: {id: 'billing-address-same-as-shipping-' + getCode($parent)}"
               name="billing-address-same-as-shipping"
               type="checkbox"/>
        <label data-bind="attr: {for: 'billing-address-same-as-shipping-' + getCode($parent)}"><span
                data-bind="i18n: 'Change billing address'"></span></label>
    </div>

    <!-- ko template: 'Tigren_CustomAddress/billing-address/details' --><!-- /ko -->

    <div class="fieldset" data-bind="visible: !isAddressDetailsVisible()">
        <!-- ko template: 'Tigren_CustomAddress/billing-address/list' --><!-- /ko -->
        <!-- ko template: 'Tigren_CustomAddress/billing-address/form' --><!-- /ko -->
        <div class="actions-toolbar" data-bind="fadeVisible: isAddressFormVisible">
            <div class="primary">
                <button class="action action-update" data-bind="click: updateAddress" type="button">
                    <span data-bind="i18n: 'Update'"></span>
                </button>
                <button class="action action-back" data-bind="click: cancelAddressEdit" type="button">
                    <span data-bind="i18n: 'Cancel'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
