<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  -->

<li class="checkout-shipping-address" data-bind="fadeVisible: visible()" id="shipping">
    <div class="step-title" data-role="title" translate="'Shipping Address'"/>
    <div class="step-content"
         data-role="content"
         id="checkout-step-shipping">

        <each args="getRegion('customer-email')" if="!quoteIsVirtual" render=""/>
        <each args="getRegion('address-list')" render=""/>
        <each args="getRegion('address-list-additional-addresses')" render=""/>

        <!-- Address form pop up -->
        <if args="!isFormInline">
            <button class="action action-show-popup"
                    click="showFormPopUp"
                    type="button"
                    visible="!isNewAddressAdded()">
                <span translate="'New Address'"/>
            </button>
            <div id="opc-new-shipping-address"
                 render="shippingFormTemplate"
                 visible="isFormPopUpVisible()"/>
        </if>

        <each args="getRegion('before-form')" render=""/>

        <!-- Inline address form -->
        <render args="shippingFormTemplate" if="isFormInline"/>

        <div data-bind="visible: isMoveBilling" id="billing-address-container">
            <div class="billing-address-same-as-shipping-block field choice">
                <input data-bind="checked: isAddressSameAsShipping, click: useShippingAddress, attr: {id: 'billing-address-same-as-shipping-shared'}"
                       name="billing-address-same-as-shipping"
                       type="checkbox"/>
                <label data-bind="attr: {for: 'billing-address-same-as-shipping-shared'}"><span
                        data-bind="i18n: 'Billing address is same as Delivery address (uncheck if you wish to use difference address).'"></span></label>
            </div>
            <div class="form-billing-address" data-bind="visible: isShowBillingForm">
                <each args="getRegion('billing-address')" render=""/>
            </div>
        </div>
    </div>
</li>

<!--Shipping method template-->
<li class="checkout-shipping-method"
    data-bind="fadeVisible: visible(), blockLoader: isLoading"
    id="opc-shipping_method"
    role="presentation">
    <div class="checkout-shipping-method">
        <div class="step-title"
             data-role="title"
             translate="'Shipping Methods'"/>

        <each args="getRegion('before-shipping-method-form')" render=""/>

        <div aria-hidden="false"
             class="step-content"
             data-role="content"
             id="checkout-step-shipping_method"
             role="tabpanel">
            <form class="form methods-shipping"
                  id="co-shipping-method-form"
                  if="rates().length"
                  novalidate="novalidate"
                  submit="setShippingInformation">

                <render args="shippingMethodListTemplate"/>

                <div id="onepage-checkout-shipping-method-additional-load">
                    <each args="getRegion('shippingAdditional')" render=""/>
                </div>
                <div class="message notice"
                     if="errorValidationMessage().length"
                     role="alert">
                    <span text="errorValidationMessage()"/>
                </div>
                <div class="actions-toolbar" id="shipping-method-buttons-container">
                    <div class="primary">
                        <button class="button action continue primary" data-role="opc-continue" type="submit">
                            <span translate="'Next'"/>
                        </button>
                    </div>
                </div>
            </form>
            <div class="no-quotes-block"
                 ifnot="rates().length > 0"
                 translate="'Sorry, no quotes are available for this order at this time'"/>
        </div>
    </div>
</li>
